<div class="login-box">
    <div class="login-logo">
        <a><img class="logo" src="../../../assets/logo.png" alt="My Ad Cubes"></a>
    </div><!-- /.login-logo -->
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h6 style="justify-content: center; color: white; text-align: center;">You forgot your password? Here you can easily retrieve a new password.</h6>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" name="email" class="form-control" placeholder="Email"
                            #username="ngModel" [(ngModel)]="emailText" required>

                    </div>
                    <div class="form-group input-group">
                        <input type="submit" value="Login" class="btn login_btn form-control">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a class="register" routerLink="/register"><u>Register a new membership</u></a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="register" routerLink="/login"><u>Login</u></a>
                </div>
            </div>
        </div>
    </div>
</div>