<mat-divider></mat-divider>
<div class="main">
    <div class="container">
        <br>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Contact Information</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right" style="background-color: rgb(235, 235, 235)">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <!-- <li class="breadcrumb-item active">contact</li> -->
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-12">
                                <h4>Personal Info</h4>
                                <div class="post profile-section">
                                    <div class="user-block">
                                        <p><span class="p-name">Registration type</span> : Public Sector</p>
                                        <p><span class="p-name">First Name</span> : testfirst</p>
                                        <p><span class="p-name">Middle Name</span> : testmiddle</p>
                                        <p><span class="p-name">Last Name</span> : testlast</p>
                                        <p><span class="p-name">Email</span> : test@test.com</p>
                                        <p><span class="p-name">Mobile</span> : 1234567890</p>
                                    </div>
                                    <!-- /.user-block -->
                                    <div class="button-edit"><button type="button"
                                            class="btn btn-info btn-xs grnbg-color grnbdr-color ">Edit</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
