<mat-divider></mat-divider>
<div class="main">
    <div class="container">
        <br>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>View Profile</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right" style="background-color: rgb(235, 235, 235)">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">View Profile</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-12">
                                <h4>Personal Info</h4>
                                <div class="post profile-section">
                                    <div class="user-block">
                                        <p><span class="p-name">Registration type</span> : Public Sector</p>
                                        <p><span class="p-name">First Name</span> : Anil</p>
                                        <p><span class="p-name">Middle Name</span> : Kumar</p>
                                        <p><span class="p-name">Last Name</span> : Garg</p>
                                        <p><span class="p-name">Email</span> : anil@checkboxtechnology.com</p>
                                        <p><span class="p-name">Mobile</span> : 9312625038</p>
                                    </div>
                                    <!-- /.user-block -->
                                    <div class="button-edit"><button type="button"
                                            class="btn btn-info btn-xs grnbg-color grnbdr-color ">Edit</button></div>
                                </div>
                                <br>
                                <h4>Entity Info</h4>
                                <div class="post clearfix profile-section">
                                    <div class="user-block">
                                        <p><span class="p-name">Name</span> : Checkbox Technology</p>
                                        <p><span class="p-name">Address</span> : BS 102 sector 70, Noida</p>
                                        <p><span class="p-name">P.O.Box</span> : test</p>
                                        <p><span class="p-name">Telephone</span> : 12345678</p>
                                        <p><span class="p-name">fax</span> : 1234567890</p>
                                        <p><span class="p-name">Website Url</span> : www.checkboxtechnology.com</p>

                                    </div>
                                    <div class="button-edit"><button type="button"
                                            class="btn btn-info btn-xs grnbg-color grnbdr-color ">Edit</button>
                                    </div>
                                </div>
                                <br>
                                <h4>Managing Director's info</h4>
                                <div class="post clearfix profile-section">
                                    <div class="user-block">
                                        <p><span class="p-name">Name</span> : Anil Kumar Garg</p>
                                        <p><span class="p-name">Email</span> : anil.checkboxtechnology.com</p>
                                        <p><span class="p-name">Mobile Number</span> : 9312625038</p>
                                    </div>
                                    <div class="button-edit"><button type="button"
                                            class="btn btn-info btn-xs grnbg-color grnbdr-color ">Edit</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </div>
</div>