<mat-divider></mat-divider>
<div class="main">
    <!-- Content Header (Page header) -->
    <br>
    <section class="content-header">
        <div class="container">
            <div class="col sm-12">
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username" style="color: white;">The Main Event Title</h3>
                        <h5 class="widget-user-desc" style="color: white;">Venue | Event Date</h5>
                        <!-- <span class="badge bg-danger">LIVE</span> -->
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" style="width: 90px; border: 2px solid whitesmoke;"
                            src="../../../assets/events.png" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">10,500</h5>
                                    <span class="description-text">Estimated No. of Spectators</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">130</h5>
                                    <span class="description-text">No. of Participants</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">350,000</h5>
                                    <span class="description-text">Event Budget</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="ribbon-wrapper ribbon-xl">
                        <div class="ribbon bg-danger text-lg">
                            LIVE
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Info Boxes Style 2 -->
                <div class="col-sm-4">
                    <div class="info-box bg-info">
                        <span class="info-box-icon"><i style="color: white;" class="fa fa-share"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text" style="color: white;">Get Spectator Survey Link</span>
                            <span class="info-box-number" style="color: white;">Active</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <!-- /.info-box -->
                <div class="col-sm-4">
                    <div class="info-box bg-warning">
                        <span class="info-box-icon"><i class="fa fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Spectator Survey Status</span>
                            <span class="info-box-number">10/50</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <!-- /.info-box -->
                <div class="col-sm-4">
                    <div class="info-box bg-danger">
                        <span class="info-box-icon"><i style="color: white;" class="fa fa-user"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text" style="color: white;">Submit Organizer Survey</span>
                            <span class="info-box-number" style="color: white;">Pending</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>

    <!-- <section class="content"> -->
        <div class="container">
            <!-- Default box -->
            <div class="card" style="margin-left: 15px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                            <div class="row">
                                <div class="col-12">
                                    <h4>General Info</h4>
                                    <div class="post profile-section">
                                        <div class="user-block">
                                            <p><span class="p-name">Event Title</span> : Public Sector</p>
                                            <p><span class="p-name">Status</span> : Public Sector</p>
                                            <p><span class="p-name">Type of Sports</span> : Public Sector</p>
                                            <p><span class="p-name">Description</span> : Public Sector</p>
                                            <p><span class="p-name">Logo</span> : Public Sector</p>
                                            <p><span class="p-name">Event profile</span> : Public Sector</p>

                                        </div>
                                        <!-- /.user-block -->
                                    </div>

                                    <h4>Event Itinerary</h4>
                                    <div class="post profile-section">
                                        <div class="user-block">
                                            <p><span class="p-name">Itinerary type</span> : Public Sector</p>
                                            <p><span class="p-name">Date</span> : Public Sector</p>
                                            <p><span class="p-name">Venue Name</span> : Public Sector</p>
                                            <p><span class="p-name">Venue Address</span> : Public Sector</p>
                                            <p><span class="p-name">Aggrement</span> : Public Sector</p>

                                        </div>
                                    </div>
                                    <h4>Budget Info</h4>
                                    <div class="post clearfix profile-section">
                                        <div class="user-block">
                                            <p><span class="p-name">Event Budget</span> : 12,500,000</p>
                                            <p><span class="p-name">Budget Breakdown</span> : Public Sector</p>
                                        </div>
                                    </div>
                                    <h4>Additional Event Info</h4>
                                    <div class="post clearfix profile-section">
                                        <div class="user-block">
                                            <p><span class="p-name">Event Category</span> : International</p>
                                            <p><span class="p-name">Event type</span> : afddfd</p>
                                            <p><span class="p-name">Event Frequency</span> : Annual</p>
                                            <p><span class="p-name">Estimated No of Spectators</span> : 21235465</p>
                                            <p><span class="p-name">Estimated No of Participants</span> : 252</p>
                                            <p><span class="p-name">Event Video</span> : Public Sector</p>
                                            <p><span class="p-name">Event Image</span> : Public Sector</p>

                                        </div>
                                    </div>
                                    <h4>Event Coordinators Info</h4>
                                    <div class="post clearfix profile-section">
                                        <div class="user-block">
                                            <p><span class="p-name">Name</span> : Test</p>
                                            <p><span class="p-name">Mobile No</span> : 1234567890</p>
                                            <p><span class="p-name">Email</span> : Test@test.com</p>
                                        </div>
                                    </div>

                                    <div class="button-edit" style="text-align: center;"><button type="button"
                                            class="btn btn-secondary btn-xs " routerLink="/submit-events">Back</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <!-- /.card -->
        </div>
    <!-- </section> -->
</div>